<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ki_shaan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KiShaan">
        <activity android:name=".GroupAccounts"></activity>
        <activity android:name=".CustomerPayment" />
        <activity android:name=".FarmerSell" />
        <activity android:name=".EachShopItemPage" />
        <activity android:name=".AccountPage" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".ContactUsPage" />
        <activity android:name=".DonatePage" />
        <activity android:name=".CreateJoinGrp" />
        <activity android:name=".LandingPageCustomer" />
        <activity android:name=".LandingPageFarmer" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".AccountInfoGroupFarmerCommon" />
        <activity android:name=".BorrowMoneyFarmer" />
        <activity android:name=".CoopLandingPage" />
        <activity android:name=".CreateGroupPage" />
        <activity android:name=".FarmerAccountIndi" />
        <activity android:name=".JoinPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>